*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: yellow;
  min-height: 100vh;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.logo{
  height: 250px;
  width: 250px;
}
.card{
  background-color: orange;
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}